Source: python3-protobuf
Section: devel
Priority: extra
Maintainer: Pertsev Alexei <oeermanz@gmail.com>
Build-Depends:
  cdbs,
  debhelper (>= 9)
Standards-Version: 3.9.5
X-Python3-Version: >= 3.5

Package: python3-protobuf
Architecture: all
Description: protocol buffer compiler